.playlist-box {
    position: relative;
    width: 300px; 
    height: 400px; 
    /* border: 2px solid #ccc;  
    box-sizing: border-box; */
    margin-right: 60px; 
    margin-bottom: 40px;
}

.playlist-name,
.playlist-desc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.playlist-name {
    padding-top: 5px;
    font-size: 36px;
    cursor: pointer;
}

.playlist-desc {
    margin-top: 50px;
    font-size: 16px;
}