.playlist-box {
  position: relative;
  width: 300px;
  height: 400px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.playlist-name,
.playlist-desc {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.playlist-name {
  padding-top: 5px;
  font-size: 42px;
  font-weight: 500;
  height: 80px;
  cursor: pointer;
  color: #EBE6D5;
  text-decoration: none;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-name:hover {
    color: #87f5ff;
}
  

.playlist-desc {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 200;
  color: #EBE6D5;
}
