
.sidebar {
    background-color: #3A3A40;
    width: 20vh; /* Adjust width as needed */
    height: calc(100vh - 110px); /* Adjust height to fit remaining space */
    position: fixed;
    top: 10vh; /* Height of navbar */
    padding: 20px;
    left: 0;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.sidebar.closed {
    transform: translateX(-200px);
  }

  button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .sidebar ul {
    list-style: none; /* Remove default list-style */
    padding: 0; /* Optionally remove default padding */
    margin: 0; /* Optionally remove default margin */
  }

.sidebar ul li {
    margin-bottom: 10px;
    color:#fff
  }
  
  .main-content {
    margin-left: 200px; /* Adjust margin when sidebar is open */
    transition: margin-left 0.3s ease;
  }
  .sidebar button {
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

