table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #ebe6d5;
  word-wrap: break-word;
  max-width: 150px;
}

th {
  color: #ffffff;
}


td img {
  max-width: 75px;
  max-height: 75px;
  object-fit: scale-down; 
}
