

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 1000px;
  margin-left: 30px;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  margin-right: 20px;
  width: 170px;
  color: #ebe6d5;
}

.form-container {
  width: 120%;
  background-color: #ebe6d5;
  padding: 20px;
  border-radius: 20px;
}

.form-group input[type="text"],
.form-group textarea {
  width: calc(120% - 190px); 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ebe6d5;
}

.form-group select {
  flex: 1;
  width: 120%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ebe6d5;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3a3a40;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

button[type="submit"]:hover {
  background-color: #1e1f23;
}