.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blacksmith-bg {
  z-index: -1;
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: -500px;

  border: 1px solid #000000;
  filter: grayscale(100%) contrast(80%) brightness(70%);
  overflow: hidden;
}

.songsmith-title {
  margin-top: 15vh;
  height: 10vh;
  z-index: 10;

  font-family: "Kumar One";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #e1dfd6;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.songsmith-subtitle {
  margin-top: 5px;
  margin-bottom: 20px;

  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-button {
  box-sizing: border-box;

  padding: 14px 54px;
  margin-bottom: 20px;

  background: #ebe6d5;
  border-radius: 40px;

  color: #5a585c;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.login-button:hover {
  background-color: #f2d77d;
  text-decoration: none;
}
.signup-button {
  color: #ebe6d5;
  text-decoration: none;
}
.signup-button:hover {
  color: #87f5ff;
  text-decoration: none;
}

