.playlist {
  position: fixed;
  top: 12vh;
  left: 12vw;
  width: 88vw;
  height: 88vw;
  margin-top: 10px;
  margin-left: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pl-top {
  display: flex;
  height: 40vh;
  width: 100%; 
  padding-top: 10px;
}

.pl-image {
  height: 100%;
  object-fit: contain;
}

.pl-image img {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
}

.pl-info {
  margin-top: 40px;
  margin-left: 40px;
}

.pl-name {
  font-size: 40px;
  text-align: left;
  color: #ebe6d5;
  font-weight: bold;
}

.pl-author {
  margin-top: 8px;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color: #ffffff;
}

.pl-desc {
  margin-top: 8px;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  color: #ebe6d5;
}

.pl-table {
  margin-top: 12px;
  width: calc(100vw - 18vw);
  padding: 12px;
  overflow-y: auto; 
  max-height: 42vh;
}

.pl-buttons {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  color: #7b7b84;
}

.pl-buttons > * {
  font-size: 16px; 
  padding: 4px 8px; 
  margin: 0 4px; 
  background-color: #ebe6d5; 
  border-radius: 8px; 
  color: #5A585C; 
  cursor: pointer; 
  width: 200px
}

.pl-buttons > *:hover{
  background-color: #f7d980; 

}

.pl-toolbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.pl-song-input {
  margin-top: 15px;
  border-radius: 40px;
  padding: 6px 50px;
  color: #5A585C;
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.pl-song-button {
  box-sizing: border-box;
  margin-left: 10px;
  padding: 6px 30px;
  background: #EBE6D5;
  border: 4px solid #EBE6D5;
  border-radius: 40px;
  color: #5A585C;
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px; /* Adjusted font size */
  text-decoration: none;
}

button {
  font-size: 12px; /* Adjusted font size for button text */
  color: #5A585C;
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
